#root {
  /* color: black;
  background-color: white; */
  min-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
Link{
  text-decoration-line: none;
}
Link:hover{
  cursor: pointer;
  background-color: blue;
}
.nav-item{
  /* color: red; */
}
